@font-face {
  font-family: "Sagite";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Sagite-woo8x.woff") format("woff");
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-feature-settings: "ss01", "ss02", "cv01", "cv02", "cv03";
    font-family: var(--font-outfit), system-ui, sans-serif;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
}

.font-outfit {
  font-family: var(--font-outfit), system-ui, sans-serif;
}

.font-serif {
  font-family: "Sagite", ui-serif, Georgia, serif;
}

.font-sagite {
  font-family: "Sagite", ui-serif, Georgia, serif;
}

.animated-gradient {
  background: linear-gradient(
    90deg,
    var(--accent-light) 0%,
    var(--accent-dark) 100%
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient 8s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes borderGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-border {
  position: relative;
  background: #0a0a0a;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.gradient-border::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(90deg, #f7f06d, transparent 50%, #f7f06d);
  background-size: 200% 100%;
  animation: borderGradient 3s linear infinite;
}

.my-masonry-grid {
  display: flex;
  margin-left: -16px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 16px;
  background-clip: padding-box;
}

@media (min-width: 768px) {
  .my-masonry-grid {
    margin-left: -24px;
  }

  .my-masonry-grid_column {
    padding-left: 24px;
  }
}

.loader {
  width: 75px;
  aspect-ratio: 1;
  display: grid;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1 / 1;
  width: 35px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 3px #fff inset;
  filter: drop-shadow(40px 40px 0 #fff);
  animation: l8 2s infinite alternate;
}
.loader:after {
  margin: 0 0 0 auto;
  filter: drop-shadow(-40px 40px 0 #fff);
  animation-delay: -1s;
}
@keyframes l8 {
  0%,
  10% {
    border-radius: 0;
  }
  30%,
  40% {
    border-radius: 50% 0;
  }
  60%,
  70% {
    border-radius: 50%;
  }
  90%,
  100% {
    border-radius: 0 50%;
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 10, 10, 10;
  --accent-light: #eedf9f;
  --accent-dark: #fff0d0;
}

